<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Document</title>

    <!-- Agregar Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link
        href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet"
    />
    <link
        href="https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
        rel="stylesheet"
    />
</head>

<!--class="bg-gradient-to-b from-[#1bc5b2] via-[#000000] to-[#000000] h-full min-h-screen"-->
<body>
<div
    class="relative w-full bg-gradient-to-b from-slate-50 from- via-slate-100 via- to-slate-400 to-"
>
    <app-nav class="relative z-50"></app-nav>

    <img
        src="../../../../assets/images/esquina.png"
        alt=""
        class="absolute top-11 -right-11 w-[500px] h-auto origin-bottom-center -rotate-90 z-0"
    />

    <!-- Sobre Nosotros-->
    <app-section1></app-section1>
</div>

<div
    class="bg-gradient-to-b from-slate-400 from- via-slate-500 via- to-slate-600 to-"
>
    <!-- Mision-->
    <app-section2></app-section2>
    <!-- Visión-->
    <section class=" py-16 px-6 flex flex-col lg:flex-row items-center justify-center gap-12">
        <!-- Texto -->
        <div class="max-w-xl text-center lg:text-left">
            <h2 class="text-7xl font-serif font-bold mb-6 text-white">Nuestra visión</h2>
            <p class="text-2xl text-gray-300 leading-relaxed">
                Ser el software médico líder en Latinoamérica y el mundo, reconocido
                por su capacidad de transformar la atención en salud con innovación,
                accesibilidad y compromiso.
            </p>
            <p class="text-2xl text-gray-300 leading-relaxed">
                Aspiramos a que cada centro médico, sin importar su tamaño o especialidad, tenga a su alcance una
                herramienta inteligente que impulse su crecimiento con orden, eficiencia y calidez humana.
            </p>
        </div>

        <!-- Imagen -->
        <div class="rounded-xl overflow-hidden shadow-lg max-w-xl w-full">
            <img
                src="./assets/images/vision.png"
                alt="Nuestra misión"
                class="w-full h-auto object-cover"
            />
        </div>
    </section>


    <!-- <app-section4></app-section4>-->
</div>

<div class="bg-gradient-to-b from-slate-600 via-slate-700 to-black">
    <!-- nuestros valores-->
    <app-section3></app-section3>
</div>


<div class="bg-black">
    <app-section10></app-section10>
</div>
<div class="bg-black">
    <app-footer></app-footer>
</div>
</body>
</html>
<style>
    .font-pacifico {
        font-family: "Pacifico", cursive;
    }
</style>
