<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>

        <!-- Agregar Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://fonts.googleapis.com/css2?family=Acme&family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap"
            rel="stylesheet"
        />
    </head>

    <!--class="bg-gradient-to-b from-[#1bc5b2] via-[#000000] to-[#000000] h-full min-h-screen"-->
    <body>
        <div
            class="relative w-full bg-gradient-to-b from-slate-50 from- via-slate-100 via- to-slate-400 to-"
        >
            <app-nav></app-nav>

            <app-section1></app-section1>
        </div>

        <div
            class="bg-gradient-to-b from-slate-400 from- via-slate-500 via- to-slate-600 to-"
        >
            <app-section2></app-section2>
        </div>

        <div class="bg-gradient-to-b from-slate-600 via-slate-700 to-black">
            <app-section3></app-section3>
        </div>

        <div class="bg-black">
            <app-footer></app-footer>
        </div>
    </body>
</html>
<style>
    .font-pacifico {
        font-family: "Pacifico", cursive;
    }
</style>
