<div
    class="w-full lg:h-64 h-full bg-[linear-gradient(to_right,_#0a2d4d,_#007d8e)] py-18"
>
    <div class="max-w-7xl mx-auto text-white text-center">
        <div class="grid grid-cols-1 sm:grid-cols-2  md:grid-cols-3 gap-8">
            <!-- Estadística 1 -->
            <div class="flex flex-col items-center">
                <p class="text-7xl font-semibold font-pacifico">500,000+</p>
                <p class="text-xl">Pacientes atendidos en DoctorLink</p>
            </div>

            <!-- Estadística 2 -->
            <div class="flex flex-col items-center">
                <p class="text-7xl font-semibold font-pacifico">30%</p>
                <p class="text-xl">Tiempo ahorrado escribiendo</p>
            </div>

            <!-- Estadística 3 -->
            <div
                class="flex flex-col items-center sm:col-span-2 sm:justify-center md:col-span-1"
            >
                <p class="text-7xl font-semibold font-pacifico">12 min.</p>
                <p class="text-xl">Tiempo ahorrado por cita</p>
            </div>
        </div>
    </div>
</div>
