<section class="bg-gradient-to-r from-teal-600 to-teal-800 py-12 px-6">
    <div class="max-w-7xl mx-auto text-white text-center">
      <div class="grid grid-cols-1 sm:grid-cols-3 gap-8">
        <!-- Estadística 1 -->
        <div class="flex flex-col items-center">
          <p class="text-5xl font-semibold">500,000+</p>
          <p class="text-xl">Pacientes atendidos en Doctoc</p>
        </div>
  
        <!-- Estadística 2 -->
        <div class="flex flex-col items-center">
          <p class="text-5xl font-semibold">30%</p>
          <p class="text-xl">Tiempo ahorrado escribiendo</p>
        </div>
  
        <!-- Estadística 3 -->
        <div class="flex flex-col items-center">
          <p class="text-5xl font-semibold">12 min.</p>
          <p class="text-xl">Tiempo ahorrado por cita</p>
        </div>
      </div>
    </div>
  </section>
  