<div class="flex flex-col items-center justify-center text-center px-10 py-32 animate-fade-slide-up">
  <h1 class="sm:text-4xl md:text-8xl font-semibold text-white mb-4 font-serif">
    Convierte tu clínica en un negocio.
  </h1>
  <p class="sm:text-xl md:text-3xl text-gray-300 mb-6">
    Maneja tu clínica como un negocio moderno y deja atrás las horas que pasas sacando las cuentas.
  </p>
  <button class="bg-teal-500 hover:bg-teal-600 text-white font-semibold py-2 px-6 rounded-lg shadow-md transition duration-300">
    Regístrate
  </button>
</div>
<style>
  @keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-up {
  animation: fadeSlideUp 1s ease forwards;
}

</style>