<div class="flex flex-row" style="height:500px">
    <div class="relative flex flex-col w-full" *ngFor="let url of fileUrl; let i=index">

        <!-- Content -->
        <div class="flex flex-row h-full">
            <!-- PDF -->
            <ng-container *ngIf="fileUrl">
                <embed [src]="url" type="application/pdf" width="100%" height="100%" />
            </ng-container>

        </div>
        <!-- Actions -->
        <ng-container *ngIf="data.actions.cancel.show">
            <div
                class="flex items-center justify-center sm:justify-end px-6 py-3 space-x-3 bg-gray-50 dark:bg-black dark:bg-opacity-10">
                <!-- Cancel -->
                <ng-container *ngIf="data.actions.cancel.show">
                    <button type="button" class="text-white bg-warn-500 dark:text-warn-50 dark:bg-warn-600 p-1"
                        mat-stroked-button (click)="delete(i)">
                        {{data.actions.cancel.label}}
                    </button>
                </ng-container>
            </div>
        </ng-container>
    </div>
</div>
<!-- Actions -->
<ng-container *ngIf="data.actions.cancel.show && fileUrl.length>1">
    <div
        class="flex items-center justify-center sm:justify-end px-6 py-4 space-x-3 bg-gray-50 dark:bg-black dark:bg-opacity-10">

        <!-- Cancel -->
        <ng-container *ngIf="data.actions.cancel.show">
            <button mat-stroked-button [matDialogClose]="'cancelled'"
                class="text-yellow-900 bg-yellow-400 dark:text-yellow-200 dark:bg-yellow-900 p-1">
                {{'Cerrar Todo'}}
            </button>
        </ng-container>

    </div>
</ng-container>
