
<h1 class="sm:text-4xl md:text-8xl font-pacifico text-center text-white">En salud cada <br> interacción cuenta</h1>

<div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-2 gap-10 p-10">
  <!-- Texto e interacciones -->

  <div class="space-y-6 sm:order-2 md:order-1">

    <div class="space-y-8 ">
      <div (click)="changeImage(0)" class="cursor-pointer group">
        <p class="flex items-center font-semibold group-hover:text-[#05c0ac] text-white sm:text-2xl md:text-4xl">
          <span class="sm:text-2xl md:text-4xl mr-2">🩺</span> Timing que nunca falla
        </p>
        <p class="text-gray-300  group-hover:text-[#05c0ac] ml-7 md:text-3xl">
          Llamadas y mensajes perfectamente programados y consistentes. Cada referencia y paciente comprometido.
        </p>
      </div>

      <div (click)="changeImage(1)" class="cursor-pointer group">
        <p class="flex items-center font-semibold group-hover:text-[#05c0ac] text-white sm:text-2xl md:text-4xl">
          <span class="sm:text-2xl md:text-4xl mr-2">⏳</span> Eleva la atención y fideliza pacientes
        </p>
        <p class="text-gray-300 group-hover:text-[#05c0ac] ml-7 md:text-3xl">
          Libera a tu personal para que puedan enfocarse en el paciente frente a ellos, logrando pacientes felices y leales.
        </p>
      </div>

      <div (click)="changeImage(2)" class="cursor-pointer group"> 
        <p class="flex items-center font-semibold group-hover:text-[#05c0ac] text-white sm:text-2xl md:text-4xl">
          <span class="sm:text-2xl md:text-4xl  mr-2">⚙️</span> Reduce la carga operativa de tu equipo
        </p>
        <p class="text-gray-300 group-hover:text-[#05c0ac] ml-7 md:text-3xl">
          Clara se entrena una vez y siempre está disponible, sin necesidad de contratar nuevo personal ni aprender nuevas herramientas.
        </p>
      </div>
    </div>
  </div>

  <!-- Imagen dinámica -->
  <div class="flex items-center justify-center sm:order-1 md:order-2">
    <img [src]="selectedImage" alt="Imagen dinámica" class="w-full max-w-md transition duration-500 rounded-lg" />
  </div>
</div>
