<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <!--class="bg-gradient-to-b from-[#1bc5b2] via-[#000000] to-[#000000] h-full min-h-screen"-->
    <body>
<div
  class="relative w-full bg-gradient-to-b from-gray-300 via-teal-700 to-slate-900"
>
  <app-nav class="relative z-50"></app-nav>

  <img
    src="../../../../assets/images/esquina.png"
    alt=""
    class="absolute top-11 -right-11 w-[500px] h-auto origin-bottom-center -rotate-90 z-0"
  />

  <app-section1></app-section1>
  <app-section2></app-section2>
</div>

        <div
            class="bg-gradient-to-b from-slate-900 from-0% via-slate-900 via-75% to-slate-900 to-100%"
        >
            <section class="py-16 px-6">
                <div class="max-w-7xl mx-auto">
                    <h2
                        class="text-6xl sm:text-7xl md:text-8xl font-extrabold mb-2 text-center font-pacifico leading-[1.8] bg-gradient-to-r from-[#eb037d] to-[#7600f1] bg-clip-text text-transparent"
                    >
                        Todo en un mismo lugar
                    </h2>

                    <p
                        class="md:text-3xl sm:text-xl text-gray-300 mb-12 text-center poppins-medium"
                    >
                        Historias clínicas, imágenes, notas, agenda, archivos,
                        finanzas. Ahora con IA.
                    </p>
                </div>
            </section>
            <app-section3 style="display: none"></app-section3>

            <app-section5 ></app-section5>
            <app-section4 ></app-section4>
        </div>

        <div
            class="bg-gradient-to-b from-slate-900 from- via-teal-900 via- to-slate-900 to-"
        >
            <app-section7></app-section7>
        </div>

        <app-section8></app-section8>

        <div
            class="bg-gradient-to-b from-slate-900 from- via-slate-900 via- to-black to-"
        >
            <app-section9></app-section9>
        </div>

        <div class="bg-black">
            <app-section10></app-section10>
        </div>

        <div class="bg-black">
            <app-footer></app-footer>
        </div>
    </body>
</html>
