<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <app-nav></app-nav>
  <app-section1></app-section1>
  <app-section2></app-section2>
  <app-section3></app-section3>
  <app-section4></app-section4>

  <app-section7></app-section7>

  <app-section8></app-section8>


  <app-section9></app-section9>
  <app-section10></app-section10>
  <app-footer></app-footer>

</body>
</html>