<div class="sm:px-10 sm:mt-5 md:px-10 lg:px-12 xl:px-22 xlargedesktop:px-40 xxlargedesktop:px-64 xxxldesktop:px-80 xxxlgdesktop:mt-40 md:-mt-[60%] tablet:mt-90 lg:mt-22 xl:mt-32 md:mb-32 laptop:-mt-[57%]">
  <div class="flex flex-col md:flex-row items-center justify-center p-6 md:p-20 gap-8 sm:-mt-[50%] md:-mt-[35%] md:-mb-[5%] bg-gradient-to-b from-[#133341] to-[#fff7aa] bg-opacity-10 rounded-3xl ring-2 ring-purple-600/40 shadow-xl hover:shadow-2xl transition-all duration-300 ease-in-out transform hover:scale-105">
    
    <!-- Imagen lado izquierdo -->
    <div class="flex-shrink-0 w-full md:w-1/2 animate__animated animate__fadeInLeft">
      <img src="../../../../../assets/images/lapto.png" alt="Dashboard" class="w-full h-auto " />
    </div>

    <!-- Texto lado derecho -->
    <div class="w-full md:w-1/2 max-w-lg text-white animate__animated animate__fadeInRight">
      <p class="text-sm text-purple-200 uppercase mb-2">DESPUÉS DE LA CONSULTA</p>
      <h2 class="text-2xl md:text-3xl font-bold mb-6 leading-tight text-gradient">Fideliza a tus pacientes y asegura su <br /> regreso con un seguimiento excepcional</h2>

      <ul class="space-y-3 list-none text-xl">
        <li class="flex items-start animate__animated animate__fadeInUp animate__delay-1s">
          <svg class="flex-shrink-0 w-6 h-6 text-[#132f3c] mt-1 mr-2 transition-transform duration-200 hover:scale-110" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          Reportes estadísticos
        </li>
        <li class="flex items-start animate__animated animate__fadeInUp animate__delay-1.2s">
          <svg class="flex-shrink-0 w-6 h-6 text-[#132f3c] mt-1 mr-2 transition-transform duration-200 hover:scale-110" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          Cálculo de comisiones y pago a doctores
        </li>
        <li class="flex items-start animate__animated animate__fadeInUp animate__delay-1.4s">
          <svg class="flex-shrink-0 w-6 h-6 text-[#132f3c] mt-1 mr-2 transition-transform duration-200 hover:scale-110" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          Análisis de pacientes, segmentación y remarketing
        </li>
        <li class="flex items-start animate__animated animate__fadeInUp animate__delay-1.6s">
          <svg class="flex-shrink-0 w-6 h-6 text-[#132f3c] mt-1 mr-2 transition-transform duration-200 hover:scale-110" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          Embudo de ventas
        </li>
        <li class="flex items-start animate__animated animate__fadeInUp animate__delay-1.8s">
          <svg class="flex-shrink-0 w-6 h-6 text-[#132f3c] mt-1 mr-2 transition-transform duration-200 hover:scale-110" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          Saludos de cumpleaños
        </li>
        <li class="flex items-start animate__animated animate__fadeInUp animate__delay-2s">
          <svg class="flex-shrink-0 w-6 h-6 text-[#132f3c] mt-1 mr-2 transition-transform duration-200 hover:scale-110" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          Campañas de marketing
        </li>
        <li class="flex items-start animate__animated animate__fadeInUp animate__delay-2.2s">
          <svg class="flex-shrink-0 w-6 h-6 text-[#132f3c] mt-1 mr-2 transition-transform duration-200 hover:scale-110" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
            <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
          </svg>
          Encuestas de satisfacción
        </li>
      </ul>
    </div>
  </div>
</div>
