<footer class="py-8">
    <div class="max-w-7xl mx-auto px-4 md:px-6">
        <div class="grid grid-cols-1 md:grid-cols-4 gap-8 text-gray-700">
            <!-- Información -->
            <div>
                <h5 class="font-bold text-xl text-white">Información</h5>
                <ul class="space-y-2">
                    <li>
                        <a
                            routerLink="/nosotros"
                            class="text-lg text-white hover:text-teal-600"
                        >Sobre nosotros</a
                        >
                    </li>
                    <li>
                        <a
                            href="#"
                            class="text-lg text-white hover:text-teal-600"
                        >Blog</a
                        >
                    </li>
                </ul>
            </div>

            <!-- Legal -->
            <div>
                <h5 class="font-bold text-xl text-white">Legal</h5>
                <ul class="space-y-2">
                    <li>
                        <a
                            routerLink="/terminos-condiciones/web"
                            class="text-lg text-white hover:text-teal-600"
                        >Términos y condiciones</a
                        >
                    </li>

                    <li>
                        <a href="https://drlinkmed.com/#/politicas-privacidad" target="_blank"
                           class="text-lg text-white hover:text-teal-600"
                        >Política de Privacidad</a>

                    </li>
                    <li>
                        <a
                            routerLink="/terminos-condiciones/app"
                            class="text-lg text-white hover:text-teal-600"
                        > Política de App</a
                        >
                    </li>


                </ul>
            </div>

            <!-- Recursos -->
            <div>
                <h5 class="font-bold text-xl text-white">Recursos</h5>
                <ul class="space-y-2">
                    <li>
                        <a
                            routerLink="/extras/preguntas"
                            class="text-lg text-white hover:text-teal-600"
                        >Preguntas frecuentes</a
                        >
                    </li>
                    <li>
                        <a
                            routerLink="/extras/socitaDemo"
                            class="text-lg text-white hover:text-teal-600"
                        >Solicita una demo</a
                        >
                    </li>
                    <li>
                        <a
                            routerLink="/extras/libroReclamacion"
                            class="text-lg text-white hover:text-teal-600"
                        >Libro de reclamaciones</a
                        >
                    </li>
                </ul>
            </div>

            <!-- Contacto -->
            <div>
                <h5 class="font-bold text-xl text-white">Contacto</h5>
                <ul class="space-y-2">
                    <li>
                        <a
                            href="mailto:info@doctoc.health"
                            class="text-lg text-white hover:text-teal-600"
                        >DoctorLink.health</a
                        >
                    </li>
                </ul>
            </div>
        </div>

        <!-- Copyright -->
        <div class="mt-8 text-center text-lg text-white">
            <p>&copy; 2025 DoctorLink, Medical.</p>
        </div>

        <!-- Social Media Icons -->
        <div class="mt-4 text-center">
            <a href="#" class="text-xl text-white hover:text-teal-600 mx-2"
            ><i class="fab fa-facebook"></i
            ></a>
            <a href="#" class="text-xl text-white hover:text-teal-600 mx-2"
            ><i class="fab fa-instagram"></i
            ></a>
            <a href="#" class="text-xl text-white hover:text-teal-600 mx-2"
            ><i class="fab fa-linkedin"></i
            ></a>
            <a href="#" class="text-xl text-white hover:text-teal-600 mx-2"
            ><i class="fab fa-twitter"></i
            ></a>
            <a href="#" class="text-xl text-white hover:text-teal-600 mx-2"
            ><i class="fab fa-tiktok"></i
            ></a>
        </div>
    </div>
</footer>

<!-- Incluye Font Awesome para los íconos -->
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
