<section class="bg-[#f0fdff] py-16 px-6">
    <div class="max-w-7xl mx-auto">
      <!-- Título principal -->
      <h2 class="text-4xl font-extrabold text-purple-600 mb-4 text-center">
        Todo en un mismo lugar
      </h2>
      <!-- Subtítulo -->
      <p class="text-xl text-gray-700 mb-12 text-center">
        Historias clínicas, imágenes, notas, agenda, archivos, finanzas. Ahora con IA.
      </p>
  
      <!-- Nombre del paciente -->
      <h3 class="text-3xl font-semibold text-gray-800 mb-8 text-center">Ana Banana</h3>
  
      <!-- Contenedor de las tarjetas -->
<div class="bg-[#f8f8f8] rounded-lg p-6">
  <div class="grid grid-cols-3 gap-6">
    <!-- Div 1 -->
    <div class="bg-[#fdfdfd] p-4 rounded-lg shadow-md">
      <!-- Contenido 1 -->
      <p class="text-lg font-bold">Últimas atenciones</p>
      <p>Diabetes mellitus</p>
      <p>Hipertensión arterial</p>
      <p>Hemograma control</p>
    </div>
    
    <!-- Div 2 -->
    <div class="bg-[#fdfdfd] p-4 rounded-lg shadow-md">
      <!-- Contenido 2 -->
      <p class="text-lg font-bold">Antecedentes personales</p>
      <p>Hábitos nocivos</p>
      <p>Paciente fuma 5 cigarrillos semanales.</p>
      <p>No realiza actividad física.</p>
    </div>

    <!-- Div 3 -->
    <div class="bg-[#fdfdfd] p-4 rounded-lg shadow-md">
      <!-- Contenido 3 -->
      <p class="text-lg font-bold">Antecedentes patológicos</p>
      <p>Diabetes</p>
      <p>Diagnóstico en el 2022.</p>
      <p>Última complicación fue en enero del 2023.</p>
    </div>

    <!-- Div 4 -->
    <div class="bg-[#fdfdfd] p-4 rounded-lg shadow-md">
      <!-- Contenido 4 -->
      <p class="text-lg font-bold">Antecedentes familiares</p>
      <p>Madre</p>
      <p>Jane Cooper</p>
      <p>Presentó cáncer de mama en el año 2022.</p>
    </div>

    <!-- Div 5 -->
    <div class="bg-[#fdfdfd] p-4 rounded-lg shadow-md">
      <!-- Contenido 5 -->
      <p class="text-lg font-bold">Notas</p>
      <p>Dr. Diego Malpartida</p>
      <p>Última edición 12:30pm 12/10/22</p>
      <p>Paciente refiere que presenta dolor crónico desde el 12/09/22.</p>
    </div>

    <!-- Div 6 -->
    <div class="bg-[#fdfdfd] p-4 rounded-lg shadow-md">
      <!-- Contenido 6 -->
      <p class="text-lg font-bold">Alergias</p>
      <p>Alergia a mariscos</p>
      <p>Diagnóstico en el 2022.</p>
      <p>Paciente tuvo episodio en el Hospital Nacional Dos de Mayo.</p>
    </div>
  </div>
</div>

    </div>
  </section>
  