<section class="py-16 px-6">
    <div class="max-w-7xl mx-auto">
        <h2
            class="text-8xl font-extrabold mb-2 text-center font-pacifico leading-[1.8] bg-gradient-to-r from-[#eb037d] to-[#7600f1] bg-clip-text text-transparent"
        >
            Todo en un mismo lugar
        </h2>

        <p class="text-3xl text-gray-300 mb-12 text-center poppins-medium">
            Historias clínicas, imágenes, notas, agenda, archivos, finanzas.
            Ahora con IA.
        </p>

        <div class="bg-[#f8f8f8] rounded-lg p-6">
            <h3 class="text-3xl font-semibold text-gray-800 mb-8">
                Ana Banana
            </h3>
            <hr />
            <div #gridContainer class="grid grid-cols-3 gap-6 px-4">
                <div
                    class="bg-white p-4 rounded-lg shadow-md max-w-lg space-y-3"
                >
                    <p class="text-[10px] font-bold">Últimas atenciones</p>

                    <div class="grid grid-cols-3 items-center gap-1">
                        <p class="font-semibold text-[9px]">
                            Diabetes mellitus
                        </p>
                        <p class="text-gray-600 text-[9px] leading-tight">
                            Dr. Diego Malpartida <br />
                            <span class="text-gray-400 text-[7px]"
                                >26 de marzo 2022 14:34</span
                            >
                        </p>
                        <span
                            class="bg-green-200 text-green-700 font-semibold text-[9px] px-2 py-0.5 rounded-full justify-self-center"
                        >
                            Medicina
                        </span>
                    </div>

                    <div class="grid grid-cols-3 items-center gap-1">
                        <p class="font-semibold text-[9px]">
                            Hipertensión arterial
                        </p>
                        <p class="text-gray-600 text-[9px] leading-tight">
                            Dr. Diego Malpartida <br />
                            <span class="text-gray-400 text-[7px]"
                                >26 de marzo 2022 14:34</span
                            >
                        </p>
                        <span
                            class="bg-blue-200 text-blue-700 font-semibold text-[9px] px-2 py-0.5 rounded-full justify-self-center"
                        >
                            Enfermería
                        </span>
                    </div>

                    <div class="grid grid-cols-3 items-center gap-1">
                        <p class="font-semibold text-[9px]">
                            Hemograma control
                        </p>
                        <p class="text-gray-600 text-[9px] leading-tight">
                            Dr. Diego Malpartida <br />
                            <span class="text-gray-400 text-[7px]"
                                >26 de marzo 2022 14:34</span
                            >
                        </p>
                        <span
                            class="bg-purple-200 text-purple-700 font-semibold text-[9px] px-2 py-0.5 rounded-full justify-self-center"
                        >
                            Obstetricia
                        </span>
                    </div>
                </div>

                <div
                    class="bg-[#fdfdfd] p-4 rounded-lg shadow-md text-[9px] space-y-3"
                >
                    <p class="text-[8px] font-bold flex items-center gap-1">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-3 w-3"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M9 12h6m-3-3v6m3-9h3a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V8a2 2 0 012-2h3"
                            />
                        </svg>
                        Antecedentes personales
                    </p>
                    <div>
                        <p class="font-semibold">Hábitos nocivos</p>

                        <p>Paciente fuma 6 cajetillas de cigarros semanales.</p>
                        <p>Bebedor social.</p>

                        <p>No realiza actividad física.</p>
                    </div>

                    <!-- Aquí la etiqueta visible al final -->
                    <div class="flex justify-end mt-3">
                        <span
                            class="text-left bg-green-200 text-green-700 font-semibold text-[9px] px-3 py-1 rounded-full cursor-pointer hover:bg-green-300 transition"
                        >
                            Agregar antecedentes
                        </span>
                    </div>
                </div>

                <div
                    class="bg-white p-4 rounded-lg shadow-md max-w-lg space-y-3 font-sans"
                >
                    <p class="text-[8px] font-bold flex items-center gap-1">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-3 w-3"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M9 12h6m-3-3v6m3-9h3a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V8a2 2 0 012-2h3"
                            />
                        </svg>
                        Antecedentes patológicos
                    </p>

                    <div>
                        <p class="text-[8px] font-semibold">Diabetes</p>
                        <p class="text-[7px]">
                            Diagnosticado en el 2022. Actualmente toma
                            metformina de 850mg, una vez por la mañana. Última
                            complicación fue en el mes de enero del 2023, donde
                            tuvo una cetoacidosis diabética.
                        </p>
                    </div>

                    <div class="flex gap-2 text-[8px]">
                        <span
                            class="bg-yellow-100 text-yellow-800 rounded px-1 py-[1px]"
                            >Padece actualmente</span
                        >
                        <span
                            class="bg-red-100 text-red-600 rounded px-1 py-[1px]"
                            >Información dudosa</span
                        >
                    </div>

                    <div class="flex justify-end mt-3">
                        <span
                            class="text-left bg-green-200 text-green-700 font-semibold text-[9px] px-3 py-1 rounded-full cursor-pointer hover:bg-green-300 transition"
                        >
                            Agregar antecedentes
                        </span>
                    </div>
                </div>

                <div
                    class="bg-white p-4 rounded-lg shadow-md max-w-lg space-y-3 font-sans"
                >
                    <p
                        class="text-[8px] font-bold flex items-center gap-1 text-red-700"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-3 w-3"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M12 9v2m0 4h.01M21 12c0 4.97-4.03 9-9 9s-9-4.03-9-9 4.03-9 9-9 9 4.03 9 9z"
                            />
                        </svg>
                        Alergias
                    </p>

                    <div>
                        <p class="text-[8px] font-semibold">
                            Alergia a mariscos
                        </p>
                        <p class="text-[7px]">
                            Diagnosticado en el 2022. Aparentemente tuvo
                            episodio que terminó en emergencias del Hospital
                            Nacional Dos de Mayo, donde refiere que se le aplicó
                            epinefrina.
                        </p>
                    </div>

                    <div class="flex gap-2 text-[8px]">
                        <span
                            class="bg-red-100 text-red-600 rounded px-1 py-[1px]"
                            >Información dudosa</span
                        >
                    </div>

                    <div class="flex justify-end mt-3">
                        <span
                            class="text-left bg-green-200 text-green-700 font-semibold text-[9px] px-3 py-1 rounded-full cursor-pointer hover:bg-green-300 transition"
                        >
                            Agregar antecedentes
                        </span>
                    </div>
                </div>

                <div
                    class="bg-white p-4 rounded-lg shadow-md max-w-lg space-y-3 font-sans"
                >
                    <p class="text-[8px] font-bold flex items-center gap-1">
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            class="h-3 w-3"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            stroke-width="2"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                d="M5.121 17.804A11.955 11.955 0 0112 15c2.21 0 4.268.648 6.003 1.755M15 10a3 3 0 11-6 0 3 3 0 016 0z"
                            />
                        </svg>
                        Antecedentes familiares
                    </p>

                    <div class="flex items-center gap-3">
                        <img
                            src="https://randomuser.me/api/portraits/women/44.jpg"
                            alt="Jane Cooper"
                            class="h-10 w-10 rounded-full object-cover"
                        />
                        <div class="text-[8px] space-y-0.5">
                            <p class="font-semibold">Madre</p>
                            <p class="font-semibold">Jane Cooper</p>
                            <p class="text-gray-500">jane.cooperexample.com</p>
                        </div>
                    </div>

                    <p class="text-[8px]">
                        Presentó cáncer de mama en el año 2022.
                    </p>

                    <div class="flex justify-start mt-3">
                        <button
                            class="text-[9px] bg-green-200 text-green-700 font-semibold px-3 py-1 rounded-full hover:bg-green-300 transition cursor-pointer"
                            type="button"
                        >
                            Agregar antecedentes
                        </button>
                    </div>
                </div>

                <div class="bg-white p-4 rounded-lg shadow-md max-w-lg space-y-3 font-sans">
  <p class="text-[8px] font-bold flex items-center gap-1">
    <svg xmlns="http://www.w3.org/2000/svg" class="h-3 w-3" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
      <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h6m-3-3v6m3-9h3a2 2 0 012 2v10a2 2 0 01-2 2H6a2 2 0 01-2-2V8a2 2 0 012-2h3" />
    </svg>
    Notas
  </p>

  <div>
    <p class="text-[9px] font-semibold">Dr. Diego Malpartida</p>
    <p class="text-[7px] font-normal">Última edición 12:30pm 12/10/22</p>
    <p class="text-[7px] mt-2">
      Paciente refiere que presenta dolor crónico desde el 12/09/22. No acude a sus citas a tiempo, no suele cumplir con los medicamentos prescritos por otros médicos.
    </p>
  </div>

  <div class="flex justify-start mt-3">
    <button class="bg-green-200 text-green-700 font-semibold text-[8px] px-3 py-1 rounded-full cursor-pointer hover:bg-green-300 transition">
      Agregar nota
    </button>
  </div>
</div>

            </div>
        </div>
    </div>
</section>

<style>
    @keyframes entrarMediaLuna {
        0% {
            transform: translate(var(--start-x), var(--start-y))
                rotate(var(--start-rot)) scale(0.8);
            opacity: 0;
        }
        30% {
            transform: translate(var(--start-x), var(--start-y))
                rotate(var(--start-rot)) scale(0.8);
            opacity: 1;
        }
        100% {
            transform: translate(0, 0) rotate(0) scale(1);
            opacity: 1;
        }
    }

    .grid > div {
        opacity: 0;
        transform: translate(var(--start-x), var(--start-y))
            rotate(var(--start-rot)) scale(0.8);
    }

    .grid.animate > div {
        animation-name: entrarMediaLuna;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out;
    }

    /* Variables de posición y delay igual que antes */

    .grid.animate > div:nth-child(1) {
        --start-x: -80px;
        --start-y: -350px;
        --start-rot: 15deg;
        animation-delay: 0s;
    }
    .grid.animate > div:nth-child(2) {
        --start-x: -40px;
        --start-y: -400px;
        --start-rot: 10deg;
        animation-delay: 0.15s;
    }
    .grid.animate > div:nth-child(3) {
        --start-x: 0px;
        --start-y: -420px;
        --start-rot: 0deg;
        animation-delay: 0.3s;
    }
    .grid.animate > div:nth-child(4) {
        --start-x: 40px;
        --start-y: -400px;
        --start-rot: -10deg;
        animation-delay: 0.45s;
    }
    .grid.animate > div:nth-child(5) {
        --start-x: 80px;
        --start-y: -350px;
        --start-rot: -15deg;
        animation-delay: 0.6s;
    }
    .grid.animate > div:nth-child(6) {
        --start-x: 0px;
        --start-y: -300px;
        --start-rot: 0deg;
        animation-delay: 0.75s;
    }
</style>
