<head>
  <!-- Agregar Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
</head>

<div class="bg-teal-50 p-8">
  <div class="max-w-3xl mx-auto text-center">
    <h1 class="text-8xl font-bold text-gray-900 font-pacifico">
      No has estudiado medicina para 
      <span class="text-teal-400">perder los papeles.</span>
    </h1>
    <p class="mt-6 text-3xl text-gray-600 ">
      Doctoc es la solución para gestionar tu centro de salud. 
      Automatiza historias clínicas, citas y finanzas desde una plataforma única.
    </p>
    <div class="mt-6 space-x-4">
      <a href="#" class="inline-block bg-teal-500 text-white py-2 px-6 rounded-md hover:bg-teal-400 transition duration-300 font-pacifico">Crea tu cuenta</a>
      <a href="#" class="inline-block bg-gray-800 text-white py-2 px-6 rounded-md hover:bg-gray-700 transition duration-300 font-pacifico">Agenda una demo</a>
    </div>
  </div>
</div>

<style>
  /* Aplicar la fuente Pacifico */
  .font-pacifico {
    font-family: "Pacifico", cursive;
  }
</style>
