<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Precios</title>
    </head>
    <!--class="bg-gradient-to-b from-[#1bc5b2] via-[#000000] to-[#000000] h-full min-h-screen"-->
    <body>

        <div
            class="relative w-full bg-gradient-to-b from-slate-50 from- via-slate-100 via- to-slate-600 to-"
        >
            <app-nav class="relative z-50"></app-nav>
            <img
                src="../../../../assets/images/esquina.png"
                alt=""
                class="absolute top-11 -right-11 w-[500px] h-auto origin-bottom-center -rotate-90 z-0"
            />
            <app-section9></app-section9>
        </div>

        <div
            class="bg-gradient-to-b from-slate-600 via-slate-700 to-black"
        >
            <app-pfrecuentes></app-pfrecuentes>
        </div>


        <div class="bg-black">
            <app-footer></app-footer>
        </div>
    </body>
</html>
