<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <!--class="bg-gradient-to-b from-[#1bc5b2] via-[#000000] to-[#000000] h-full min-h-screen"-->
    <body>
<div
  class="relative w-full bg-gradient-to-b from-gray-300 via-teal-700 to-slate-900"
>
  <app-nav class="relative z-50"></app-nav>

  <img
    src="../../../../assets/images/esquina.png"
    alt=""
    class="absolute top-11 -right-11 w-[500px] h-auto origin-bottom-center -rotate-90 z-0"
  />

  <app-section1></app-section1>
</div>

        <div
            class="bg-gradient-to-b from-slate-900 from-0% via-slate-900 via-75% to-slate-900 to-100%"
        >

        </div>

        <div
            class="bg-gradient-to-b from-slate-900 from- via-teal-900 via- to-slate-900 to-"
        >
        </div>


        <div
            class="bg-gradient-to-b from-slate-900 from- via-slate-900 via- to-black to-"
        >
        </div>

        <div class="bg-black">
        </div>

        <div class="bg-black">
            <app-footer></app-footer>
        </div>
    </body>
</html>
