<h2 class="text-4xl font-bold text-center mb-8 text-white">
    Preguntas frecuentes
</h2>

<div class="max-w-5xl w-full bg-white/80 rounded-xl p-6 shadow-lg mx-auto mb-26">
    <div class="space-y-4">
        <!-- Item 1 -->
        <details class="group rounded-lg">
            <summary
                class="flex items-center cursor-pointer list-none font-semibold text-gray-900 text-2xl mb-5"
            >
                <span
                    class="mr-3 transition-transform duration-300 group-open:rotate-45"
                    >+</span
                >
                <span>¿Puedo cancelar mi cuenta en cualquier momento?</span>
            </summary>
            <p class="text-gray-700 text-xl mt-2">
                Con el plan mensual, si decide que Doctoc Health no es la mejor
                plataforma de EHR para usted, puede cancelar su cuenta sin
                penalización. Con el plan anual, una vez finalizado el período
                de compromiso de 12 meses, puede optar por no renovar. En
                cualquier caso, incluso le devolveremos todos los datos de su
                paciente, sin cargo, para ayudarlo a facilitar su transición a
                otro EHR.
            </p>
        </details>

        <!-- Item 2 abierto -->
        <details class="group rounded-lg">
            <summary
                class="flex items-center cursor-pointer list-none font-semibold text-gray-900  text-2xl mb-5"
            >
                <span
                    class="mr-3 transition-transform duration-300 group-open:rotate-45 rotate-45"
                    >×</span
                >
                <span
                    >¿Cómo cobran a los nuevos usuarios agregados a la cuenta
                    principal?</span
                >
            </summary>
            <p class="text-gray-700 text-xl">
                Cuando agregue un nuevo usuario a su equipo, haremos un cargo
                único para cubrir la cuenta de su nuevo usuario por el resto de
                su período de facturación vigente.
            </p>
        </details>

        <!-- Item 3 -->
        <details class="group rounded-lg">
            <summary
                class="flex items-center cursor-pointer list-none font-semibold text-gray-900 text-2xl mb-5"
            >
                <span
                    class="mr-3 transition-transform duration-300 group-open:rotate-45"
                    >+</span
                >
                <span
                    >¿Ofrecen una versión de prueba del software para que los
                    médicos puedan probarlo antes de comprarlo?</span
                >
            </summary>
            <p class="text-gray-700 text-xl">
                Lamentablemente, no ofrecemos un período de prueba gratuito de
                nuestro software de gestión clínica y historias clínicas. Sin
                embargo, estamos seguros de que nuestro producto cumplirá con
                sus expectativas y le brindará todas las herramientas que
                necesita para llevar un registro detallado y administrar su
                práctica médica de manera eficiente. Si, por alguna razón, no
                está satisfecho con el software dentro de los primeros 30 días
                de su compra, ofrecemos un período de reembolso dentro de este
                tiempo. Simplemente contáctenos y haremos todo lo posible para
                resolver cualquier problema que pueda tener con el producto.
            </p>
        </details>

        <!-- Item 4 -->
        <details class="group rounded-lg">
            <summary
                class="flex items-center cursor-pointer list-none font-semibold text-gray-900 text-2xl mb-5"
            >
                <span
                    class="mr-3 transition-transform duration-300 group-open:rotate-45"
                    >+</span
                >
                <span
                    >¿Qué sucede si necesito ayuda y es fuera del horario
                    comercial habitual?</span
                >
            </summary>
            <p class="text-gray-700 text-xl">
                Nuestro horario es de 9 a.m. a 6 p.m. GMT-5, de lunes a viernes.
                Dicho esto, puede informar un problema las 24 horas del día, los
                7 días de la semana, accediendo al botón de ayuda en la
                aplicación. Si envía su problema fuera de nuestro horario
                laboral habitual, nos pondremos en contacto con usted el
                siguiente día laboral. Sin embargo, si su problema es urgente,
                le responderemos dentro de los 30 minutos, independientemente de
                la hora o el día. Un problema urgente se divide en tres
                categorías: <br />
                -No puede acceder a Doctoc. <br />-Los datos dentro de Doctoc
                parecen ser incorrectos y pueden afectar la atención del
                paciente. <br />-El sistema no responde y afecta su capacidad
                para cuidar a sus pacientes.
            </p>
        </details>

        <!-- Item 5 abierto -->
        <details class="group rounded-lg">
            <summary
                class="flex items-center cursor-pointer list-none font-semibold text-gray-900  text-2xl mb-5"
            >
                <span
                    class="mr-3 transition-transform duration-300 group-open:rotate-45 rotate-45"
                    >×</span
                >
                <span
                    >¿Hay cargos adicionales por servicios de instalación o
                    soporte técnico?</span
                >
            </summary>
            <p class="text-gray-700 text-xl">
                No, no hay cargos adicionales por servicios de instalación o
                soporte técnico. Ofrecemos un servicio técnico gratuito y rápido
                para todos nuestros clientes que utilizan nuestro software de
                gestión clínica y historias clínicas. Si tiene algún problema o
                pregunta sobre cómo utilizar el software, no dude en ponerse en
                contacto con nuestro equipo de soporte técnico. Estamos
                dispuestos a ayudarle a resolver cualquier problema que pueda
                tener y a asegurarnos de que esté satisfecho con su compra.
            </p>
        </details>
    </div>
</div>
<style>
    details > summary {
        font-size: 1.5rem; /* tamaño base */
        transition: font-size 0.3s ease;
    }

    details[open] > summary {
        font-size: 1.65rem !important; /* fuerza el tamaño cuando está abierto */
    }
</style>
