<section class="text-center py-16 animate-fade-slide-up">
  <h1 class="text-4xl md:text-8xl font-bold text-[#0f172a]  leading-tight mb-4 font-pacifico">
    Libera a tu equipo del teléfono<br>y ponlo frente a los pacientes
  </h1>
  <p class="sm:text-2xl md:text-4xl text-gray-900 mb-12 sm:px-10 md:px-72">
    Conoce a Clara. La IA que automatiza llamadas y mensajes para que tu equipo se enfoque en lo que realmente importa.
  </p>

  <div class="relative flex justify-center items-center">
    <!-- Imágenes izquierda (ocultas en sm) -->
    <div class="hidden md:block absolute left-[25%] top-1/2 -translate-y-1/2 space-y-6">
      <img src="https://framerusercontent.com/images/jyEOwPW59vQN1iWIm0UdzgH1vM.png" alt="Izquierda 1" class="w-60">
      <img src="https://framerusercontent.com/images/bQGix96jbVO11CcXUKkMV2zzE.png?scale-down-to=512" alt="Izquierda 2" class="w-72">
    </div>

    <!-- Imagen central -->
    <img src="https://framerusercontent.com/images/rWpBvSgYTXAnyHJMwylL2dRPY.png?scale-down-to=512" alt="Celular" class="sm:w-[80%] lg:w-[35%] md:w-80 z-10">

    <!-- Imágenes derecha (ocultas en sm) -->
    <div class="hidden md:block absolute right-[25%] top-1/2 -translate-y-1/2 space-y-6">
      <img src="https://framerusercontent.com/images/XVqEVSbSTrGElWvHW9P9MacNJHw.png" alt="Derecha 1" class="w-60">
      <img src="https://framerusercontent.com/images/xwIpaS8uLJAo8y0crrTDn0ObiQ.png?scale-down-to=512" alt="Derecha 2" class="w-72">
    </div>
  </div>

  <button class="mt-12 bg-teal-500 hover:bg-teal-600 text-white font-semibold py-3 px-6 rounded-full shadow-lg transition">
    Regístrate
  </button>
</section>


<style>
  @keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-slide-up {
  animation: fadeSlideUp 1s ease forwards;
  opacity: 0;
}

</style>