<nav class="w-full px-4 md:px-12 py-4 flex items-center justify-between shadow-sm ">
    <!-- Logo -->
    <div routerLink="/app" style="cursor:pointer;" class="flex items-center space-x-2">
        <img src="https://web-doctorlink.itbcpwebservices.com/assets/images/logo/logo.png" alt="Logo"
             class="h-10 w-auto"/>
    </div>

    <!-- Menu Desktop -->
    <div class="hidden md:flex space-x-6 items-center relative">
        <!-- Funciones con dropdown usando group
    <div class="relative inline-block group">
      <a href="#" class="text-sm text-[#0f172a] hover:text-teal-600 font-bold flex items-center cursor-pointer select-none">
        Funciones
        <svg class="ml-1 w-4 h-4 text-[#0f172a]" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
        </svg>
      </a>

    <div
      class="absolute left-0 top-full bg-white rounded-lg shadow-lg text-gray-800 p-3 opacity-0 invisible group-hover:opacity-100 group-hover:visible transition-opacity duration-200 z-50 w-56"
      style="margin-top: 0;"
    >
      <a routerLink="/historia-clinica" class="block px-3 py-2 rounded hover:bg-teal-100">Historia Clínica</a>
      <a routerLink="/agenda" class="block px-3 py-2 rounded hover:bg-teal-100">Agenda</a>
      <a routerLink="/finanzas" class="block px-3 py-2 rounded hover:bg-teal-100">Finanzas</a>
    </div>

    </div>-->


        <a routerLink="/nosotros" class="text-sm text-[#0f172a] hover:text-teal-600 font-bold">Nosotros</a>
        <a routerLink="/precios" class="text-sm text-[#0f172a] hover:text-teal-600 font-bold">Precios</a>
        <a routerLink="/blog" class="text-sm text-[#0f172a] hover:text-teal-600 font-bold">Blog</a>

        <a href="https://app.drlinkmed.com/" target="_blank"
           class="text-sm px-4 py-1 bg-white text-teal-500 rounded-full border border-teal-500 rounded-full hover:bg-teal-600 font-bold">Iniciar
            sesión</a>
        <a routerLink="/pagos"
           class="text-sm px-4 py-1 bg-teal-500 text-white rounded-full hover:bg-teal-600 font-bold">Afiliate</a>
    </div>

    <!-- Botón hamburguesa para móvil -->
    <div class="md:hidden">
        <button (click)="toggleMenu()" class="focus:outline-none">
            <svg class="w-6 h-6 text-gray-800" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16"></path>
            </svg>
        </button>
    </div>
</nav>

<!-- Menú móvil -->
<!-- Menú móvil -->
<div *ngIf="isMobileMenuOpen" class="md:hidden px-4 pt-2 space-y-2">

    <!-- Funciones con dropdown móvil -->
    <div>
        <!--  <button
            (click)="toggleMobileFunciones()"
            class="w-full flex justify-between items-center text-gray-800 font-medium"
          >
            Funciones
            <svg
              class="w-4 h-4 ml-2 transition-transform duration-300"
              [class.rotate-180]="isMobileFuncionesOpen"
              fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24"
            >
              <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
            </svg>
          </button>

          <div *ngIf="isMobileFuncionesOpen" class="mt-2 pl-4 space-y-1">
            <a routerLink="/historia-clinica" class="block px-3 py-2 rounded hover:bg-teal-100 text-gray-800">Historia Clínica</a>
            <a routerLink="/agenda" class="block px-3 py-2 rounded hover:bg-teal-100 text-gray-800">Agenda</a>
            <a routerLink="/finanzas" class="block px-3 py-2 rounded hover:bg-teal-100 text-gray-800">Finanzas</a>
          </div>-->
    </div>

    <a routerLink="/nosotros" class="block text-gray-800">Nosotros</a>
    <a routerLink="/precios" class="block text-gray-800">Precios</a>
    <a routerLink="/blog" class="block text-gray-800">Blog</a>
    <a href="#" class="block text-gray-800">Soporte</a>
    <!-- <a href="#" class="block text-teal-600 font-medium">Ingresa</a>-->
    <a href="#" class="block bg-teal-500 text-white text-center py-1 rounded">Regístrate</a>
</div>
