<div class="px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-7xl text-center">
        <h1 class="mt-2 text-7xl font-semibold text-white font-pacifico">
            Precios y planes
        </h1>
    </div>
    <p
        class="mx-auto mt-6 max-w-2xl text-center text-2xl font-medium text-pretty text-white sm:text-xl/8"
    >
        El mejor compañero tecnológico, a el mejor precio.
    </p>
    <div
        class="lg:mx-auto mt-16 grid  grid-cols-2 items-center gap-x-6 sm:mt-20 lg:max-w-5xl lg:grid-cols-4 md:grid-cols-1 tablet:grid-cols-1 md:w-full md:px-10"
    >
        <!-- Primer div -->
        <div class="rounded-3xl bg-gray-300 p-4 ring-1 ring-gray-900/10 py-5 ">
            <h3 id="tier-hobby" class="text-base/7 font-bold text-black">
                Lite
            </h3>
            <p class="mt-4 flex items-baseline gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-green-500"
                    >S/.35</span
                >
            </p>
            <p class="text-xs text-gray-600">
                Por mes, facturado S/ 420 anualmente
            </p>

            <br /><span class="text-sm font-semibold"
                >Lo básico para tu consultorio</span
            ><br />
            <br />
            <ul class="leading-loose">
                <li>✔️ Historia clínica</li>
                <li>✔️ Agenda Médica</li>
                <li>✔️ Pacientes ilimitados</li>
                <li>✔️ 50 atenciones al mes</li>
                <li>✔️ Soporte por correo</li>
            </ul>
            <br />
            <button
                class="bg-gray-400 text-black font-semibold py-2 lg:px-10 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 md:w-full tablet:w-full"
            >
                Empieza ahora
            </button>
        </div>

        <!-- Segundo div -->
        <div class="rounded-3xl bg-gray-300 p-4 ring-1 ring-gray-900/10 py-5 md:mt-5 tablet:mt-5">
            <h3 id="tier-hobby" class="text-base/7 font-bold text-black">
                Standard
            </h3>
            <p class="mt-4 flex items-baseline gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-blue-600"
                    >S/89</span
                >
            </p>
            <p class="text-xs text-gray-600">
                Por mes, facturado S/ 1068 anualmente
            </p>
            <br /><span class="text-sm font-semibold"
                >Todo lo de Lite más... </span
            ><br />
            <br />
            <ul class="leading-loose">
                <li>✔️ Atenciones ilimitadas</li>
                <li>✔️ Soporte de imágenes y archivos</li>
                <li>✔️ Pacientes ilimitados</li>
                <li>✔️ Envío de recetas por WhatsApp</li>
                <li>✔️ Envío de recetas por Mail</li>
                <li>✔️ Soporte por chat</li>
            </ul>
            <br />
            <button
                class="bg-gray-400 text-black font-semibold py-2 lg:px-10 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 md:w-full tablet:w-full"
            >
                Empieza ahora
            </button>
        </div>

        <!-- Tercer div -->
        <div
            class="relative rounded-3xl bg-white shadow-2xl ring-1 ring-gray-900/10 p-3 py-5 md:mt-5 tablet:mt-5"
        >
            <h3 id="tier-enterprise" class="text-base/7 font-bold text-black">
                Pro
            </h3>
            <p class="mt-4 flex items-baseline gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-[#00bea8]"
                    >S/125</span
                >
            </p>
            <p class="text-xs text-gray-600">
                Por mes, facturado S/ 1500 anualmente
            </p>
            <br /><span class="text-sm font-semibold"
                >Todo lo de Standard más...... </span
            ><br /><br />
            <ul class="leading-loose">
                <li>
                    ✔️ Transcripción IA: Habla con tu paciente y Doctoc
                    trascribe la historia**s
                </li>
                <li>✔️ Perfil de enfermera y asistente</li>
                <li>✔️ Agenda de pacientes online</li>
                <li>✔️ Registro de ingresos y egresos</li>
                <li>✔️ Almacenamiento ilimitado</li>
                <li>✔️ Recordatorios de cita</li>
                <li>✔️ Soporte prioritario</li>
            </ul>
            <br /><br />
            <button
                class="bg-gray-400 text-black font-semibold py-2 lg:px-10 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 md:w-full tablet:w-full"
            >
                Empieza ahora
            </button>
        </div>

        <div class="rounded-3xl bg-gray-300 p-4 ring-1 ring-gray-900/10 py-5 md:mt-5 tablet:mt-5">
            <h3 id="tier-hobby" class="text-base/7 font-bold text-black">
                Enterprise
            </h3>
            <p class="mt-4 flex items-baseline gap-x-2">
                <span class="text-4xl font-bold tracking-tight text-purple-600"
                    >Contactanos</span
                >
            </p>
            <p class="text-xs text-gray-600">
                Recomendado para centros médicos con alto volumen de pacientes y
                médicos.
            </p>
            <br /><span class="text-sm font-semibold"
                >Todo lo de Pro más... </span
            ><br /><br />
            <ul class="leading-loose">
                <li>
                    ✔️ Capacitación personalizada
                </li>
                <li>✔️ Descuentos por volumen</li>
                <li>✔️ Configuración a la medida</li>
                <li>✔️ Soporte prioritario</li>
          
            </ul>
            <br /><br />
            <button
                class="bg-gray-400 text-black font-semibold py-2 lg:px-10 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 md:w-full tablet:w-full"
            >
                Empieza ahora
            </button>
        </div>
    </div>
</div>
