<div class="px-6 py-24 sm:py-32 lg:px-8">
    <div class="mx-auto max-w-7xl text-center">
        <h1 class="mt-2 text-7xl font-semibold text-white font-pacifico">
            Precios y planes
        </h1>
    </div>
    <p
        class="mx-auto mt-6 max-w-2xl text-center text-2xl font-medium text-pretty text-white sm:text-xl/8"
    >
        El mejor compañero tecnológico, a el mejor precio.
    </p>

        <!-- Tabs -->
    <div
        class="flex justify-center mt-6 text-lg font-semibold rounded-md border border-gray-300 overflow-hidden w-max mx-auto"
    >
        <button
            (click)="setPlanPeriod('mensual')"
            [ngClass]="
                planPeriod === 'mensual'
                    ? 'bg-teal-400 text-white'
                    : 'bg-white text-black hover:text-teal-600'
            "
            class="px-6 py-2 transition-colors duration-300 whitespace-nowrap"
        >
            Mensual
        </button>
        <button
            (click)="setPlanPeriod('anual')"
            [ngClass]="
                planPeriod === 'anual'
                    ? 'bg-teal-400 text-white'
                    : 'bg-white text-black hover:text-teal-600'
            "
            class="px-8 py-2 transition-colors duration-300 whitespace-nowrap"
        >
            Anual
        </button>
    </div>

    <div
        class="lg:mx-auto mt-16 grid  grid-cols-2 items-center gap-x-6 sm:mt-20 lg:max-w-5xl lg:grid-cols-3 md:grid-cols-1 tablet:grid-cols-1 sm:grid-cols-1  md:w-full md:px-10"
    >
        <!-- Plan Básico -->
        <div class="rounded-3xl bg-gray-300 p-4 ring-1 ring-gray-900/10 py-5">
            <h3 id="tier-basic" class="text-base/7 font-bold text-black">
                Plan Básico
            </h3>
            <p class="mt-4 flex items-baseline gap-x-2">
                <span
                    class="text-5xl font-bold tracking-tight text-[#00bea8]"
                    >{{
                        prices.basico[planPeriod]
                            | currency : "USD" : "symbol" : "1.0-0"
                    }}</span
                >
            </p>
            <p class="text-xs text-gray-600">Por mes</p>
            <br />
            <span class="text-sm font-semibold"></span>
            <br /><br />
            <ul class="leading-loose">
                <li>✔️ Un usuario</li>
                <li>✔️ 5mil pacientes</li>
                <li>✔️ Marketing: Segmentación inteligente</li>
                <li>✔️ Agenda pacientes</li>
                <li>✔️ Actualizaciones gratuitas</li>
            </ul>
            <br />
            <button
                routerLink="/pagos"
                class="bg-gray-400 text-black font-semibold py-2 lg:px-10 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 sm:w-full tablet:w-full"
            >
                Empieza ahora
            </button>
        </div>

        <!-- Plan Pro -->
        <div
            class="relative rounded-3xl bg-white shadow-2xl ring-1 ring-gray-900/10 p-3 py-5 sm:mt-5 tablet:mt-5"
        >
            <h3 id="tier-pro" class="text-base/7 font-bold text-black">
                Plan Gold
            </h3>
            <p class="mt-4 flex items-baseline gap-x-2">
                <span
                    class="text-5xl font-bold tracking-tight text-[#00bea8]"
                    >{{
                        prices.pro[planPeriod]
                            | currency : "$" : "symbol" : "1.0-0"
                    }}</span
                >
            </p>
            <p class="text-xs text-gray-600">Por mes</p>
            <br />
            <span class="text-sm font-semibold"></span>
            <br /><br />
            <ul class="leading-loose">
                <li>✔️ 3 Usuarios</li>
                <li>✔️ Ilimitado</li>
                <li>✔️ Soporte de imágenes y archivos</li>
                <li>✔️ Marketing: Segmentación de cliente</li>
                <li>✔️ Agenda pacientes</li>
                <li>✔️ Actualizaciones gratuitas y automaticas</li>
            </ul>
            <br /><br />
            <button
                routerLink="/pagos"
                class="bg-gray-400 text-black font-semibold py-2 lg:px-10 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 sm:w-full tablet:w-full"
            >
                Empieza ahora
            </button>
        </div>

        <!-- Plan Enterprise -->
        <!-- Plan Enterprise -->
        <div
            class="rounded-3xl bg-gray-300 p-4 ring-1 ring-gray-900/10 py-5 sm:mt-5 tablet:mt-5"
        >
            <h3 id="tier-enterprise" class="text-base/7 font-bold text-black">
                Plan Premium
            </h3>
            <p class="mt-4 flex items-baseline gap-x-2">
                <span class="text-5xl font-bold tracking-tight text-[#00bea8]">
                    {{
                        prices.enterprise[planPeriod]
                            | currency : "$" : "symbol" : "1.0-0"
                    }}
                </span>
            </p>
            <p class="text-xs text-gray-600">
                Por mes
                {{
                    planPeriod === "anual"
                        ? "facturado S/ " + prices.enterprise.anualFacturado
                        : ""
                }}
            </p>
            <br />
            <span class="text-sm font-semibold"></span>
            <br /><br />
            <ul class="leading-loose">
                <li>✔️ 5 usuarios</li>
                <li>✔️ Ilimitados</li>
                <li>✔️ Agenda pacientes</li>
                <li>✔️ Envia 200 recordatorios whatsapp</li>
                <li>✔️ Marketing: Segmentación de cliente</li>
                <li>✔️ Soporte de imagenes y archivos</li>
                <li>✔️ App para pacientes</li>
                <li>✔️ Modulo inventario</li>
                <li>✔️ Soporte prioritario</li>
                <li>✔️ Actualizaciones gratuitas y automaticas</li>
                <li></li>
            </ul>

            <br /><br />
            <button
                routerLink="/pagos"
                class="bg-gray-400 text-black font-semibold py-2 lg:px-10 rounded-lg shadow-md hover:shadow-lg transition-shadow duration-300 sm:w-full tablet:w-full"
            >
                Empieza ahora
            </button>
        </div>
    </div>
</div>
