<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
    </head>
    <!--class="bg-gradient-to-b from-[#1bc5b2] via-[#000000] to-[#000000] h-full min-h-screen"-->
    <body>
        <div
            class="relative w-full bg-gradient-to-b from-slate-50 from- via-slate-100 via- to-slate-400 to-"
        >
            <app-nav></app-nav>

            <app-section1></app-section1>
        </div>

        <div
            class="bg-gradient-to-b from-slate-400 from- via-slate-500 via- to-slate-600 to-"
        >
            <app-section2></app-section2>
        </div>
        <div class="bg-gradient-to-b from-slate-600 via-slate-700 to-black">
            <app-section3></app-section3>
        </div>

        <div class="bg-black"></div>
        <div class="bg-black">
            <app-footer></app-footer>
        </div>
    </body>
</html>
