<div class="max-w-7xl mx-auto">
    <div class="flex w-full h-screen gap-4">
        <!-- Aquí agregamos gap para margen entre los divs -->
        <!-- Columna 1 -->
        <div class="w-1/2 flex flex-col">
            <div class="h-2/4 rounded-xl mb-4 bg-gradient-to-br from-[#52a3d0] to-white bg-opacity-1">
                <!-- Agregado mb-4 para margen inferior -->
                <!-- Contenido de la columna 1 - Div de 75% -->
            </div>
            <div class="flex h-1/4 gap-4">
                <!-- gap entre los divs de la fila -->
                <div class="w-1/2 bg-black rounded-xl">
                    <!-- Contenido de la columna 1 - Div de 25% -->
                </div>
                <div class="w-1/2 bg-black rounded-xl">
                    <!-- Contenido de la columna 1 - Div de 25% -->
                </div>
            </div>
        </div>

        <!-- Columna 2 -->
        <div class="w-1/2 flex flex-col">
            <div class="flex h-1/4 gap-4">
                <!-- gap entre los divs de la fila -->
                <div class="w-1/2 bg-black rounded-xl">
                    <h1 class="text-white font-bold text-3xl text-center mt-2">Firma tus recetas</h1>
                </div>
                <div class="w-1/2 bg-black rounded-xl">
                    <!-- Contenido de la columna 1 - Div de 25% -->
                </div>
            </div>
            <div
                class="h-2/4 bg-[#ffffff] rounded-xl mt-4"
            >
                <!-- Agregado mt-4 para margen superior -->
                <!-- Contenido de la columna 2 - Div de 75% -->
            </div>
        </div>
    </div>

    <!--
    <div class="flex w-full h-screen gap-4">
       
        <div class="w-1/2 flex flex-col">
            <div class="h-2/4 rounded-xl bg-white">
                
            </div>
        </div>

        <div class="w-1/2 flex flex-col">
            <div
                class="h-2/4 bg-[linear-gradient(to_right,_#007d8e,_#0a2d4d)] rounded-xl "
            >
              
            </div>
        </div>
    </div>

        <div class="flex w-full h-screen gap-4">
        
        <div class="w-full flex flex-col">
            <div
                class="h-2/4 bg-[linear-gradient(to_right,_#007d8e,_#0a2d4d)] rounded-xl "
            >
               
            </div>
        </div>
    </div>

        <div class="flex w-full h-screen gap-4">
        
        <div class="w-1/2 flex flex-col">
            <div class="h-2/4 rounded-xl bg-white">
        
            </div>
        </div>

        <div class="w-1/2 flex flex-col">
            <div
                class="h-2/4 bg-[linear-gradient(to_right,_#007d8e,_#0a2d4d)] rounded-xl "
            >
                
            </div>
        </div>
    </div>
-->
</div>
