<section class="bg-gradient-to-b from-[#0dc3b2] to-[#f0fdfa] py-16">
  <div class="max-w-7xl mx-auto text-center text-white">
    <p class="text-3xl mb-6 text-gray-800 font-bold">Instituciones que confían en nosotros:</p>
    <div class="relative overflow-hidden">
      <div class="flex animate-slide">
        <!-- Logo 1 -->
        <div class="flex-none w-1/5 p-4" *ngFor="let logo of logos">
          <img [src]="logo.src" [alt]="logo.alt" class="h-12 opacity-80 hover:opacity-100 transition-all duration-500">
        </div>
        <!-- Repetir logos para que el carrusel sea continuo -->
        <div class="flex-none w-1/5 p-4" *ngFor="let logo of logos">
          <img [src]="logo.src" [alt]="logo.alt" class="h-12 opacity-80 hover:opacity-100 transition-all duration-500">
        </div>
      </div>
    </div>
  </div>
</section>
