<section class=" py-16 px-6 flex flex-col lg:flex-row items-center justify-center gap-12">
    <!-- Texto -->
    <div class="max-w-xl text-center lg:text-left">
        <h2 class="text-7xl font-serif font-bold mb-6 text-white">Nuestra misión</h2>
        <p class="text-2xl text-gray-300 leading-relaxed">
            Modernizar y facilitar la gestión médica y administrativa a través de una plataforma digital integral,
            segura y fácil de usar, que centraliza
            procesos, automatiza tareas y mejora la experiencia de atención.
        </p>
        <p class="text-2xl text-gray-300 leading-relaxed">
            En Dr. Link, ayudamos a clínicas y consultorios a ahorrar tiempo, reducir el ausentismo y brindar un
            servicio más ágil, profesional y conectado con las necesidades del paciente.
        </p>
    </div>

    <!-- Imagen -->
    <div class="rounded-xl overflow-hidden shadow-lg max-w-xl w-full">
        <img
            src="./assets/images/mision.png"
            alt="Nuestra misión"
            class="w-full h-auto object-cover"
        />
    </div>
</section>
