<div class="w-full flex flex-col gap-4 smatphonet:-mt-20 sm:mt-0">
    <div
        class="smatphonet:h-[300px] tablet:h-[400px] md:h-[400px] rounded-[45px] mb-4 bg-gradient-to-b from-[#133341] to-[#fff7aa] bg-opacity-10 relative overflow-hidden sm:mb-[105%] tablet:-mt-16 tablet:mb-[102%] md:mb-[2%]"
    >
        <div class="px-8 py-5">
            <h1 class="font-bold smatphonet:text-xl sm:text-3xl text-white">
                Menos tiempo en el teléfono, más tiempo con los pacientes.
            </h1>
            <h2 class="smatphonet:text-md sm:text-xl text-white">
                Diseñada por médicos para médicos. Un sistema que piensa como
                tú, así puedes concentrarte en tus pacientes y no en los
                papeles.
            </h2>
        </div>

        <!-- Imagen con animación -->
        <img
            src="../../../../../assets/images/dashboard.png"
            alt="Dashboard"
            class="absolute px-20 transform transition-transform duration-500 hover:rotate-[-12deg] hover:scale-110 object-cover rounded sm:-mt-16 smatphonet:-mt-5"
        />
    </div>
</div>
