<div class="max-w-7xl mx-auto px-6 py-10 relative mb-10" #container>
    <div
        #flexContainer
        class="flex flex-col sm:flex-col md:flex-row gap-12 relative w-full"
        style="position: relative"
    >
        <!-- Placeholder que ocupa el espacio de la columna izquierda -->
        <div
            *ngIf="
        leftColStyle.position === 'fixed' ||
        leftColStyle.position === 'absolute'
      "
            class="hidden md:block w-full md:w-[42rem] flex-shrink-0"
            aria-hidden="true"
        ></div>

        <!-- Columna izquierda -->
        <div
            #leftCol
            [ngStyle]="leftColStyle"
            class="hidden md:block p-6 rounded-xl shadow flex-shrink-0 w-full md:w-[41rem]"
        >
            <div class="w-full">
                <h2 class="text-7xl text-white font-serif font-semibold mb-4">
                    Nuestros valores
                </h2>
                <p class="text-gray-300 text-3xl">
                    Empoderamos a los médicos para que brinden la mejor atención a sus
                    pacientes.
                </p>
            </div>
        </div>

        <!-- Columna derecha -->
        <div
            #rightCol
            class="space-y-8 w-full md:flex-grow md:max-w-[calc(100%-24rem-3rem)] sm:mt-52 md:mt-0"
        >
            <div *ngFor="let valor of valores" class="bg-white rounded-xl p-6 shadow-md">
                <div class="mb-4 text-teal-600 text-7xl">♥</div>
                <h3 class="font-bold text-5xl mb-2 ml-2">{{ valor.titulo }}</h3>
                <p class="text-gray-800 leading-relaxed text-3xl">{{ valor.descripcion }}</p>
            </div>
        </div>
    </div>
</div>
