<section class="text-center py-16 px-6">
    <div class="max-w-4xl mx-auto">
        <!-- Título -->
        <h2 class="text-8xl font-bold text-teal-500 leading-tight lobster-regular">
            ¿Qué estás esperando?
        </h2>

        <!-- Subtítulo -->
        <p class="text-3xl text-center text-white mt-4">
            Maneja tu atención médica con herramientas poderosas, información personalizada y mucho más.
        </p>

        <!-- Botones -->
        <div class="mt-8 space-x-4">
            <a routerLink="/pagos"
               class="inline-block bg-teal-500 text-white text-sm font-semibold px-8 py-3 rounded-full hover:bg-teal-600 transition">
                Regístrate
            </a>
            <a routerLink="/contactanos"
               class="inline-block bg-transparent text-teal-500 text-sm font-semibold px-8 py-3 rounded-full border-2 border-teal-500 hover:bg-teal-50 transition">
                Contáctanos
            </a>
        </div>
    </div>
</section>
