<!-- app.component.html -->
<div class="max-w-7xl mx-auto h-[700px] overflow-hidden mb-26">
    <h1
        class="font-bold  text-8xl text-center text-[#f5f3f1] lobster-regular mb-4"
    >
        "Doctores que confian en nosotros"
    </h1>
    <h2 class="text-white font-semibold text-center text-3xl mb-12">
        A nuestros clientes les encanta lo fácil que es usar DoctorLink.
    </h2>

    <div
        class=" animate-slide flex h-full gap-4 drop-shadow-[0_0_10px_rgba(255,255,255,0.5)] sm:w-[150%] md:w-full"
    >
        <!-- Añadido gap-4 para separación horizontal entre columnas -->
        <!-- Columna 1 -->
        <div class="w-1/3 h-full overflow-hidden relative ">
            <div class="flex flex-col h-full  gap-4">
                <!-- gap-4 para separación vertical entre items -->
                <!-- Contenido de la columna 1 -->
                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        He utilizado muchos softwares médicos durante mi
                        carrera, pero Dr.Linky me ayudó no solo al historial
                        médico de mis pacientes sino también a poder hacerles un
                        mucho mejor seguimiento y hacerles un mejor plan de
                        fidelización, ya que en el mundo actual de medicina
                        estética no solo basta con conseguir pacientes sino a
                        darles un buen seguimiento
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/alberto.jpg"
                            alt="Shinzato"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dr. Alberto Shinzato
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        El panorama de los médicos que trabajamos de manera
                        independiente sabemos que no sólo basta el conocimiento
                        sino también una buena estrategia de marketing y
                        segmentación el cual tiene integrada la plataforma de
                        Dr.Link, lo que me ayudó a generar muchas más ventas y
                        crecimiento
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/david.jpg"
                            alt="Dr. David Cerrón "
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dr. David Cerrón
                            </p>
                        </div>
                    </div>
                </div>

                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        He utilizado muchos softwares médicos durante mi
                        carrera, pero Dr.Linky me ayudó no solo al historial
                        médico de mis pacientes sino también a poder hacerles un
                        mucho mejor seguimiento y hacerles un mejor plan de
                        fidelización, ya que en el mundo actual de medicina
                        estética no solo basta con conseguir pacientes sino a
                        darles un buen seguimiento
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/alberto.jpg"
                            alt="Shinzato"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dr. Alberto Shinzato
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        El panorama de los médicos que trabajamos de manera
                        independiente sabemos que no sólo basta el conocimiento
                        sino también una buena estrategia de marketing y
                        segmentación el cual tiene integrada la plataforma de
                        Dr.Link, lo que me ayudó a generar muchas más ventas y
                        crecimiento
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/david.jpg"
                            alt="Dr. David Cerrón "
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dr. David Cerrón
                            </p>
                        </div>
                    </div>
                </div>

                <!-- Duplicado para efecto infinito -->
                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        He utilizado muchos softwares médicos durante mi
                        carrera, pero Dr.Linky me ayudó no solo al historial
                        médico de mis pacientes sino también a poder hacerles un
                        mucho mejor seguimiento y hacerles un mejor plan de
                        fidelización, ya que en el mundo actual de medicina
                        estética no solo basta con conseguir pacientes sino a
                        darles un buen seguimiento
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/alberto.jpg"
                            alt="Shinzato"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dr. Alberto Shinzato
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        El panorama de los médicos que trabajamos de manera
                        independiente sabemos que no sólo basta el conocimiento
                        sino también una buena estrategia de marketing y
                        segmentación el cual tiene integrada la plataforma de
                        Dr.Link, lo que me ayudó a generar muchas más ventas y
                        crecimiento
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/david.jpg"
                            alt="Dr. David Cerrón "
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dr. David Cerrón
                            </p>
                        </div>
                    </div>
                </div>

                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        He utilizado muchos softwares médicos durante mi
                        carrera, pero Dr.Linky me ayudó no solo al historial
                        médico de mis pacientes sino también a poder hacerles un
                        mucho mejor seguimiento y hacerles un mejor plan de
                        fidelización, ya que en el mundo actual de medicina
                        estética no solo basta con conseguir pacientes sino a
                        darles un buen seguimiento
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/alberto.jpg"
                            alt="Shinzato"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dr. Alberto Shinzato
                            </p>
                        </div>
                    </div>
                </div>
                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        El panorama de los médicos que trabajamos de manera
                        independiente sabemos que no sólo basta el conocimiento
                        sino también una buena estrategia de marketing y
                        segmentación el cual tiene integrada la plataforma de
                        Dr.Link, lo que me ayudó a generar muchas más ventas y
                        crecimiento
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/david.jpg"
                            alt="Dr. David Cerrón "
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dr. David Cerrón
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- Columna 2 -->
        <div class="w-1/3 h-full overflow-hidden relative">
            <div class="flex flex-col h-full   gap-4">
                <!-- gap-4 para separación vertical entre items -->
                <!-- Contenido de la columna 2 -->
                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Es un software médico muy versátil además de tener
                        diversas funcionalidades tanto en web como en app.
                        Siempre tienen mejoras continuas e integradas con
                        inteligencia artificial para agilizar nuestros procesos.
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/angela.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Angela Podesta
                            </p>
                        </div>
                    </div>
                </div>

                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Dr.Link tiene una interfaz bastante amigable y fácil de
                        entender, me brinda reportes y una segmentación avanzada
                        de pacientes para poder ubicarlos fácilmente y saber al
                        detalle su historial médico. La funcionalidad de la app
                        es fascinante para el paciente de poder agendar, tener
                        sus reportes y brindarles información sobre
                        otros tratamientos.
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/vanesa.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">Vanessa Anco</p>
                        </div>
                    </div>
                </div>
                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Es un software médico muy versátil además de tener
                        diversas funcionalidades tanto en web como en app.
                        Siempre tienen mejoras continuas e integradas con
                        inteligencia artificial para agilizar nuestros procesos.
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/angela.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Angela Podesta
                            </p>
                        </div>
                    </div>
                </div>

                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Dr.Link tiene una interfaz bastante amigable y fácil de
                        entender, me brinda reportes y una segmentación avanzada
                        de pacientes para poder ubicarlos fácilmente y saber al
                        detalle su historial médico. La funcionalidad de la app
                        es fascinante para el paciente de poder agendar, tener
                        sus reportes y brindarles información sobre
                        otros tratamientos.
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/vanesa.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">Vanessa Anco</p>
                        </div>
                    </div>
                </div>
                <!-- Duplicado para efecto infinito -->
                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Es un software médico muy versátil además de tener
                        diversas funcionalidades tanto en web como en app.
                        Siempre tienen mejoras continuas e integradas con
                        inteligencia artificial para agilizar nuestros procesos.
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/angela.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Angela Podesta
                            </p>
                        </div>
                    </div>
                </div>

                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Dr.Link tiene una interfaz bastante amigable y fácil de
                        entender, me brinda reportes y una segmentación avanzada
                        de pacientes para poder ubicarlos fácilmente y saber al
                        detalle su historial médico. La funcionalidad de la app
                        es fascinante para el paciente de poder agendar, tener
                        sus reportes y brindarles información sobre
                        otros tratamientos.
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/vanesa.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">Vanessa Anco</p>
                        </div>
                    </div>
                </div>
                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Es un software médico muy versátil además de tener
                        diversas funcionalidades tanto en web como en app.
                        Siempre tienen mejoras continuas e integradas con
                        inteligencia artificial para agilizar nuestros procesos.
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/angela.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Angela Podesta
                            </p>
                        </div>
                    </div>
                </div>

                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Dr.Link tiene una interfaz bastante amigable y fácil de
                        entender, me brinda reportes y una segmentación avanzada
                        de pacientes para poder ubicarlos fácilmente y saber al
                        detalle su historial médico. La funcionalidad de la app
                        es fascinante para el paciente de poder agendar, tener
                        sus reportes y brindarles información sobre
                        otros tratamientos.
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/vanesa.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">Vanessa Anco</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Columna 3 -->
        <div class="w-1/3 h-full overflow-hidden relative">
            <div class="flex flex-col h-full   gap-4">
                <!-- gap-4 para separación vertical entre items -->
                <!-- Contenido de la columna 3 -->

                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Tener una aplicación para nuestros pacientes es un
                        herramienta muy poderosa para fidelizar a nuestros
                        pacientes y llevar un mejor seguimiento de su historial
                        médico, no he visto ningun otro software médico que
                        integre tantas funcionalidades tan útiles para nuestra
                        práctica médica
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/monica.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold">Dra. Monica Caqui</p>
                        </div>
                    </div>
                </div>

                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Tener una aplicación que lo integre todo en una sola
                        plataforma es muy util para mi práctica médica diaria,
                        me ahorra mucho tiempo y automatiza procesos que antes
                        me tomaban usar dos o tres aplicaciones para una misma
                        tarea
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/leydi.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dra. Leydi Gil
                            </p>
                        </div>
                    </div>
                </div>


                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Tener una aplicación para nuestros pacientes es un
                        herramienta muy poderosa para fidelizar a nuestros
                        pacientes y llevar un mejor seguimiento de su historial
                        médico, no he visto ningun otro software médico que
                        integre tantas funcionalidades tan útiles para nuestra
                        práctica médica
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/monica.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold">Dra. Monica Caqui</p>
                        </div>
                    </div>
                </div>

                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Tener una aplicación que lo integre todo en una sola
                        plataforma es muy util para mi práctica médica diaria,
                        me ahorra mucho tiempo y automatiza procesos que antes
                        me tomaban usar dos o tres aplicaciones para una misma
                        tarea
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/leydi.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dra. Leydi Gil
                            </p>
                        </div>
                    </div>
                </div>
                <!-- Duplicado para efecto infinito -->
                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Tener una aplicación para nuestros pacientes es un
                        herramienta muy poderosa para fidelizar a nuestros
                        pacientes y llevar un mejor seguimiento de su historial
                        médico, no he visto ningun otro software médico que
                        integre tantas funcionalidades tan útiles para nuestra
                        práctica médica
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/monica.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold">Dra. Monica Caqui</p>
                        </div>
                    </div>
                </div>

                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Tener una aplicación que lo integre todo en una sola
                        plataforma es muy util para mi práctica médica diaria,
                        me ahorra mucho tiempo y automatiza procesos que antes
                        me tomaban usar dos o tres aplicaciones para una misma
                        tarea
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/leydi.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dra. Leydi Gil
                            </p>
                        </div>
                    </div>
                </div>


                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Tener una aplicación para nuestros pacientes es un
                        herramienta muy poderosa para fidelizar a nuestros
                        pacientes y llevar un mejor seguimiento de su historial
                        médico, no he visto ningun otro software médico que
                        integre tantas funcionalidades tan útiles para nuestra
                        práctica médica
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/monica.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold">Dra. Monica Caqui</p>
                        </div>
                    </div>
                </div>

                <div
                    class="max-w-sm p-6 rounded-lg shadow-lg bg-gradient-to-r from-transparent to-transparent"
                >
                    <p class="text-lg text-gray-300">
                        Tener una aplicación que lo integre todo en una sola
                        plataforma es muy util para mi práctica médica diaria,
                        me ahorra mucho tiempo y automatiza procesos que antes
                        me tomaban usar dos o tres aplicaciones para una misma
                        tarea
                    </p>
                    <div class="flex items-center mt-4">
                        <img
                            class="w-12 h-12 rounded-full mr-3"
                            src="../../../../../assets/images/leydi.jpg"
                            alt="Dr. Gumer Lozano Vela"
                        />
                        <div>
                            <p class="font-semibold text-white">
                                Dra. Leydi Gil
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    @layer components {
        /* Animación para deslizar el contenido verticalmente sin interrupciones */
        @keyframes slide {
            0% {
                transform: translateX(0);
            }
            99.9% {
                transform: translateX(-100%);
            }
            100% {
                transform: translateX(
                    0
                ); /* Esto hace el ciclo sin interrupciones */
            }
        }

        /* Establecer la animación para el carrusel */
        .animate-slide {
            animation: slide 10s linear infinite;
        }
    }
</style>
