<!--<div class="bg-gradient-to-b from-[#f0fdfa] to-[#00bfae] flex items-center justify-center">-->
<div class="flex items-center justify-center">
    <div class="w-full max-w-7xl lg:px-32 md:px-20 sm:px-26">
        <!-- <img src="https://framerusercontent.com/images/ThE1Pcg8f4sTiMW1VsnOsIp4CE.png" alt="Imagen" class="animate-zoomImageOnLoad">-->
        <video
            src="../../../../../assets/video/DR. LINKY FINAL (VIDEO).mp4"
            autoplay
            muted
            controls
        ></video>
    </div>
</div>

<style>
    /* Definir la animación zoom para la imagen */
    @keyframes zoomImageEffect {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }
        50% {
            opacity: 1;
            transform: scale(1.2);
        }
        100% {
            opacity: 1;
            transform: scale(1);
        }
    }

    /* Clase para aplicar la animación en la imagen al cargar */
    .animate-zoomImageOnLoad {
        animation: zoomImageEffect 1s ease-out forwards;
    }
</style>
